
<%- include("../partials/header") %>

<span class="container"> 

<div class="picture">
  <img  src="<%=pickedBook.imgUrl%> ">
  </div>
  <div class=description>
    <span> <%= pickedBook.description %> </span>
  </div>
  <div> Type: <%= pickedBook.type %>  </div>

</span>
<%-include("../partials/footer") %>
