
<%- include("../partials/header") %>


<ul> 
    
    <li>
  <div class="firstPart">    
 <span class="num">#<%= pickedSong.rank %></span>  
 <span class="stream">(<%= pickedSong.streams %>) </span>
 </div>
 <div class="secondPart">
<span class="title"><%= pickedSong.title %>  </span>
 <span class="artits"><%= pickedSong.artist %> </span>
</div>
<div class="thirdPart"> 
  <span class="pub"> publication date: <%= pickedSong.publicationDate %> </span>
</div>
    </li> 
    </ul>
    

    <%-include("../partials/footer") %>
